# Archivos temporales de Linux y editores
*~
*.swp
.DS_Store

# Archivos de configuración con contraseñas o tokens
.env
*.local
config.secret

# Evitar que se suban carpetas pesadas de imágenes de IA 
**/output/
**/logs/
